body{
    background-color: hsl(204, 43%, 93%);
}
.content{
    display: grid;
    grid-template-columns: 310px 310px;
    grid-template-rows: 200px 200px;
    justify-content: center;
    margin-top: 150px;
    font-family: karla;
}
.item{
    background-color: black;
}
.item1{
grid-column-start: 1;
grid-column-end: 3;
background-color:white;
}
.item2{
    background-color: hsl(179, 62%, 43%);
}
.item3{
    background-color:hsl(179, 51%, 65%) ;
}
.item2, .item3{
    height: 250px;
}
.item1 h2 {
   margin-top: 40px;
   color: hsl(179, 62%, 43%);
}
button{
    width: 248px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 6px;
    font-family: karla;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    color: white;
}
@media screen and  (max-width:600px){
    .content{
        /* display: grid;
        grid-template-columns: 310px;
        grid-template-rows: 200px 200px 200px; */
        display: flex;
        flex-direction: column;
        width: 310px;

    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    body{
        display: flex;
        justify-content: center;
    }
}